<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.MusicRecordMapper">

    <resultMap id="baseMap" type="com.example.entity.Music">
<!--        <id column="id" property="id"/>-->
<!--        <result column="name" property="name"/>-->
<!--        <result column="time" property="time"/>-->
<!--        <result column="album" property="album"/>-->
<!--        <result column="views" property="views"/>-->
        <result column="singer_name" jdbcType="VARCHAR" property="singerName" typeHandler="com.baomidou.mybatisplus.extension.handlers.FastjsonTypeHandler"/>
    </resultMap>

    <select id="selectRankByOneTime" resultType="com.example.entity.Music" resultMap="baseMap">
        SELECT music.id ,music.name,music.singer_name,music.time,music.album,a.views FROM music RIGHT JOIN (select music_id,count(*) as views from music_record where TO_DAYS(Now()) - to_days(create_time) <![CDATA[<=]]> 1 GROUP BY music_id ORDER BY count(*) DESC LIMIT 100) a ON music.id=a.music_id;
    </select>
    <select id="selectRankBySevenTime" resultType="com.example.entity.Music" resultMap="baseMap">
        SELECT music.id ,music.name,music.singer_name,music.time,music.album,a.views FROM music RIGHT JOIN (select music_id,count(*) as views from music_record where TO_DAYS(Now()) - to_days(create_time) <![CDATA[<=]]> 7 GROUP BY music_id ORDER BY count(*) DESC LIMIT 100) a ON music.id=a.music_id;
    </select>
    <select id="selectRankByThirtyTime" resultType="com.example.entity.Music" resultMap="baseMap">
        SELECT music.id ,music.name,music.singer_name,music.time,music.album,a.views FROM music RIGHT JOIN (select music_id,count(*) as views from music_record where TO_DAYS(Now()) - to_days(create_time) <![CDATA[<=]]> 30 GROUP BY music_id ORDER BY count(*) DESC LIMIT 100) a ON music.id=a.music_id;
    </select>
    <select id="selectRank" resultType="com.example.entity.Music" resultMap="baseMap">
        SELECT music.id ,music.name,music.singer_name,music.time,music.album,a.views FROM music RIGHT JOIN (select music_id,count(*) as views from music_record GROUP BY music_id ORDER BY count(*) DESC LIMIT 100) a ON music.id=a.music_id;
    </select>
</mapper>